<article class="row subtitle-details">
<h1>New Subtitle</h1>
<footer class="fourcol">
<img src="#" alt="#" />
</footer>
<div class='content eightcol last'>
  <%= form_for(@subtitle) do |f| %>
    <p>
    <%= fields_for(:show) do |s| %>
      <%= s.label :title, 'Show' %>
      <%= s.text_field :title %>
      <%= s.hidden_field :id %>
    <% end %>
    </p>
    <p>
    <%= fields_for(:episode) do |e| %>
      <%= e.label :label, 'Episode' %>
      <%= e.text_field :label %>
    <% end %>
    </p>
    <p>
    <%= f.hidden_field :episode_id %>
    <%= f.label :file %>
    <%= f.file_field :file %>
    <%= f.submit 'Save' %>
    </p>
  <% end %>
</div>
</article>
